:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--very-light-gray);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  margin: 5em auto;
  padding: 0 1em;
  max-width: 600px;
}

.header-title {
  font-weight: 200;
  color: var(--very-dark-blue);
  font-size: 2em;
  margin: 0;
}

.header-sub {
  font-weight: 600;
  font-size: 2em;
  color: var(--very-dark-blue);
  margin: 0;
}

.header-body {
  font-weight: 300;
  color: var(--grayish-blue);
  font-size: 15px;
}
.main {
  color: var(--very-dark-blue);
  display: grid;
  margin: 5em auto;
  column-gap: 2em;
  row-gap: 3em;
  padding: 0 2em;
  max-width: 1500px;
}
.supervisor-card,
.team-card,
.karma-card,
.calculator-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5em;
  gap: 3em;
  box-shadow: 0.5em 2em 1em var(--grayish-blue);
  max-width: 500px;
}

.supervisor-card {
  border-top: 0.5em solid var(--cyan);
}
.team-card {
  border-top: 0.5em solid var(--red);
}
.karma-card {
  border-top: 0.5em solid var(--orange);
}
.calculator-card {
  border-top: 0.5em solid var(--blue);
}
.card-text {
  display: inherit;
  flex-direction: inherit;
  gap: 0.5em;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-description {
  font-weight: 300;
  /* font-size: 15px; */
  line-height: 140%;
  color: var(--grayish-blue);
  max-width: 90%;
}

.card-image {
  align-self: flex-end;
}

@media (min-width: 400px) {
  .header-title,
  .header-sub {
    font-size: 1.5em;
  }

  .main {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 650px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "start mid1 end"
      "start mid2 end";
  }

  .supervisor-card {
    grid-area: start;
    align-self: center;
  }

  .team-card {
    grid-area: mid1;
    align-self: center;
  }

  .karma-card {
    grid-area: mid2;
  }

  .calculator-card {
    grid-area: end;
    align-self: center;
  }
}
